.Home{
    background-image: url(receita2.jpg);
    background-repeat: no-repeat;
    background-color:yellow;
    background-position-x: 285px;
    background-position-y: 330px;
    background-size: 60%;
}
.Home h1 {
   text-align: center;
    font-size: 80px;  
 }

.Home h2 {
   text-align: center;
    font-size: 50px;  
}

#link1, #link2, #link3, #link4 {
      font-size: 30px;  
 }
    
 #sobre {
    background-image: url(pintado3.jpg);
    background-repeat: no-repeat;
    background-color:yellowgreen;
    background-position-x: 35px;
    background-position-y: -200px;
    background-size: 100%;
  }    

#sobre h1 {
   text-align: center;
   font-size: 60px;
   position: absolute;
   position-y: 50px;
}

#sobre h2 {
   text-align: center;
   font-size: 40px;  
   position: absolute;
   position-y: 50px;
   
}

.receita {
   background-color:yellow;
   background-position-x: 285px;
   background-position-y: 330px;
   background-size: 60%; 
}

.receita h1 {
   text-align: center;
    font-size: 80px;  
 }

.receita h2 {
   text-align: center;
    font-size: 50px;  
}

.receita p {
   font-size: 30px;  
    
}

#contato {
   background-color:yellow;
   background-position-x: 285px;
   background-position-y: 330px;
   background-size: 60%; 
}

#contato h1 {
   text-align: center;
    font-size: 80px;  
 }

#contato h2 {
   text-align: center;
    font-size: 50px;  
}

#contato p {
  
    font-size: 40px;    
    
    
}